

# <%- data.mdtitle %>

# General Information

[summary content...]




<div style="text-align: left">For the latest updates, go to 
    <a href="<%- data.serverHost %>/architectures/Private/<%- data.archId %>"><%-data.appName%></a>.
</div>

For more information on <%-data.appName%>, contact us at cogarch@us.ibm.com.




<% if (data.lastModified) { %>
##### Last modified on: <%- data.lastModified %>
<% } %>